<h1>This is the show view for Categories</h1>


<div>
<h1><%= @category.name %></h1>
<% @category.articles.order(updated_at: :desc).each do |article| %>
 <p>  <h3><%= link_to article.title, article %></h3><% end %>
</p>
</div>